<div class="card card-header stock-block main-stock-block">
  <span>Email:</span><%= @friend.email %>
  <span>First Name:</span><%= @friend.first_name %>
  <span>Last Name:</span><%= @friend.last_name %>
</div>