<div class="stock-block">
  <%= render 'shared/messages' %>
</div>

<% if @stock %>
  <div class="card card-header stock-block main-stock-block">
    <span>Symbol:</span> <%= @stock.ticker %>
    <span>Name:</span> <%= @stock.name %>
    <span>Last Price:</span> <%= @stock.last_price %>
  </div>
<% end %>