@import 'bootstrap/dist/css/bootstrap';

.search-form {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.stock-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.main-stock-block {
  background-color: #454d55;
  color: white;
}

.user-name {
  color: white;
  padding: 8px;
  margin-right: 4px;
}

.drop-box, .dropdown-item {
  background-color: #454d55;
}

#navbarSupportedContent > ul > li.nav-item.dropdown.show > div > a {
  background-color: #454d55;
}