@import 'bootstrap/dist/css/bootstrap';

.search-form {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.stock-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.main-stock-block {
  background-color: #454d55;
  color: white;
}